body, h1, h2, h3, p, ul, il{
    margin:0;
    padding:0;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}
header{
    display:flex;
    align-items:center;
    padding:20px;
    background-color:#000000;
    background: color #50447c41;
    color:rgb(16, 37, 121);
}
.logo img{ 
    max-height:300px;
}
.college-info{
    margin-left:30px;
}
nav{
    background-color:#180220;
    color:white;
}
.menu{
    display:flex;
    list-style:none;
    padding:10px;
}
.menu li{
    margin-right:20px;
}
.menu a{
    color:white;
    text-decoration:none;
}
img{
    max-width:200%;
    height:auto;
}
.submenu{
    display:none;
    position:absolute;
    background-color:#000000;
    list-style:none;
    padding:10px;
}
.dropdown:hover .submenu{
    display:block;
}
.submenu li{
    margin:5px 0;
}
li a:hover{
    background-color:white;
    color:white;
}
footer{
    margin-top:auto;
    background-color:#03040c7e;
    color: white;
    text-align:center;
    padding:20px;
}
.social-media img{
    height:30px;
    margin:0 5px;
}
